/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
  body {
    @apply relative font-outfit text-base font-normal bg-gray-50;
  }

  *,
  ::after,
  ::before {
    border-color: theme("colors.gray.200");
  }

  .dark * {
    border-color: theme("colors.gray.800");
  }
}

/* Custom component utilities */
@layer components {
  .menu-item {
    @apply relative flex items-center gap-3 px-3 py-2 font-medium rounded-lg text-sm;
  }

  .menu-item-active {
    @apply bg-brand-50 text-brand-500;
  }

  .dark .menu-item-active {
    @apply bg-brand-500/[0.12] text-brand-400;
  }

  .menu-item-inactive {
    @apply text-gray-700 hover:bg-gray-100 hover:text-gray-700;
  }

  .dark .menu-item-inactive {
    @apply text-gray-300 hover:bg-white/5 hover:text-gray-300;
  }

  .menu-item-icon-active {
    @apply fill-brand-500;
  }

  .dark .menu-item-icon-active {
    @apply fill-brand-400;
  }

  .menu-item-icon-inactive {
    @apply fill-gray-500 group-hover:fill-gray-700;
  }

  .dark .menu-item-icon-inactive {
    @apply fill-gray-400 group-hover:fill-gray-300;
  }

  .menu-item-arrow {
    @apply absolute top-1/2 right-2.5 -translate-y-1/2;
  }

  .menu-item-arrow-active {
    @apply rotate-180 stroke-brand-500;
  }

  .dark .menu-item-arrow-active {
    @apply stroke-brand-400;
  }

  .menu-item-arrow-inactive {
    @apply stroke-gray-500 group-hover:stroke-gray-700;
  }

  .dark .menu-item-arrow-inactive {
    @apply stroke-gray-400 group-hover:stroke-gray-300;
  }
}

/* Custom utilities */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply h-1.5 w-1.5;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply rounded-full;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-200;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #344054;
  }
}

/* Table checkbox styles */
.tableCheckbox:checked ~ span span {
  @apply opacity-100;
}

.tableCheckbox:checked ~ span {
  @apply border-brand-500 bg-brand-500;
}

/* ApexCharts styling */
.apexcharts-legend-text {
  @apply !text-gray-700;
}

.dark .apexcharts-legend-text {
  @apply !text-gray-400;
}

.apexcharts-text {
  @apply !fill-gray-700;
}

.dark .apexcharts-text {
  @apply !fill-gray-400;
}

.apexcharts-tooltip.apexcharts-theme-light {
  @apply !rounded-lg !border-gray-200 !bg-white !p-3 !shadow-lg;
}

.dark .apexcharts-tooltip.apexcharts-theme-light {
  @apply !border-gray-800 !bg-gray-900;
}

.apexcharts-tooltip-marker {
  @apply !mr-1.5 !h-1.5 !w-1.5;
}

.apexcharts-tooltip-series-group {
  @apply !p-0;
}

.apexcharts-tooltip-y-group {
  @apply !p-0;
}

.apexcharts-tooltip-title {
  @apply !mb-0 !border-b-0 !bg-transparent !p-0 !text-[10px] !leading-4 !text-gray-800;
}

.dark .apexcharts-tooltip-title {
  @apply !text-white/90;
}

.apexcharts-tooltip-text {
  @apply !text-xs !text-gray-700;
}

.dark .apexcharts-tooltip-text {
  @apply !text-white/90;
}

.apexcharts-tooltip-text-y-value {
  @apply !font-medium;
}

.apexcharts-gridline {
  @apply !stroke-gray-100;
}

.dark .apexcharts-gridline {
  @apply !stroke-gray-800;
}

#chartTwo .apexcharts-datalabels-group {
  @apply !-translate-y-24;
}

#chartTwo .apexcharts-datalabels-group .apexcharts-text {
  @apply !fill-gray-800 !font-semibold;
}

.dark #chartTwo .apexcharts-datalabels-group .apexcharts-text {
  @apply !fill-white/90;
}

/* jsvectormap styling */
.jvm-container {
  @apply !bg-gray-50;
}

.dark .jvm-container {
  @apply !bg-gray-900;
}

.jvm-region.jvm-element {
  @apply !fill-gray-300 hover:!fill-brand-500;
}

.dark .jvm-region.jvm-element {
  @apply !fill-gray-700 hover:!fill-brand-500;
}

.jvm-marker.jvm-element {
  @apply !stroke-gray-200;
}

.dark .jvm-marker.jvm-element {
  @apply !stroke-gray-800;
}
